In [1]:
import pandas as pd

In [2]:
pd.read_csv('TSLA.CSV').head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-05-21,39.551998,41.480000,39.208000,41.015999,90019500,0,0.0
1,2019-05-22,39.820000,40.787998,38.355999,38.546001,93426000,0,0.0
2,2019-05-23,38.868000,39.894001,37.243999,39.098000,132735500,0,0.0
3,2019-05-24,39.966000,39.995998,37.750000,38.125999,70683000,0,0.0
4,2019-05-28,38.240002,39.000000,37.570000,37.740002,51564500,0,0.0

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\sawan kumar yadav\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\sawan kumar yadav\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [4]:
import pyspark

In [5]:
# In pandas

pd.read_excel('test1.xlsx')

    Name  Age
0  Sawan   28
1  Tarun   30
2   Ajay   27

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('TSLA.csv')

In [11]:
df_pyspark.show()  # Here it is not giving proper header

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|       _c0|               _c1|               _c2|               _c3|               _c4|      _c5|      _c6|         _c7|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [19]:
df_pyspark=spark.read.option('header','true').csv('TSLA.csv') # to read dataset with proper header

In [20]:
df_pyspark.show()

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [14]:
spark.read.option('header','true').csv('TSLA.csv').show()

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [15]:
type(spark.read.option('header','true').csv('TSLA.csv'))

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.head(3)

[Row(Date='2019-05-21', Open='39.551998138427734', High='41.47999954223633', Low='39.20800018310547', Close='41.01599884033203', Volume='90019500', Dividends='0', Stock Splits='0.0'),
 Row(Date='2019-05-22', Open='39.81999969482422', High='40.78799819946289', Low='38.35599899291992', Close='38.54600143432617', Volume='93426000', Dividends='0', Stock Splits='0.0'),
 Row(Date='2019-05-23', Open='38.86800003051758', High='39.89400100708008', Low='37.24399948120117', Close='39.097999572753906', Volume='132735500', Dividends='0', Stock Splits='0.0')]

In [22]:
df_pyspark.printSchema()  # It is like df.info of pandas to details of the each fields

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Dividends: string (nullable = true)
 |-- Stock Splits: string (nullable = true)