In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
## Read dataset

spark.read.option('header','true').csv('TSLA.csv')

DataFrame[Date: string, Open: string, High: string, Low: string, Close: string, Volume: string, Dividends: string, Stock Splits: string]

In [5]:
## See dataset
spark.read.option('header','true').csv('TSLA.csv').show()

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('TSLA.csv')

In [9]:
## Check Schema
df_pyspark.printSchema()   # Here it is giving every fields as string even if some fields should be interger or other.

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Dividends: string (nullable = true)
 |-- Stock Splits: string (nullable = true)

In [10]:
## to make all fields as per thier data type

df_pyspark=spark.read.option('header','true').csv('TSLA.csv', inferSchema=True) # Adding inferSchema=True for fields data types

In [11]:
df_pyspark.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Dividends: integer (nullable = true)
 |-- Stock Splits: double (nullable = true)

### Another way of doing the same data read and schema check

In [12]:
df_pyspark=spark.read.csv('TSLA.csv', header=True, inferSchema=True)

In [13]:
df_pyspark.show()

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [14]:
df_pyspark.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Dividends: integer (nullable = true)
 |-- Stock Splits: double (nullable = true)

In [15]:
# To get all column names

df_pyspark.columns  # Same way as pandas

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']

In [16]:
df_pyspark.head(3)

[Row(Date=datetime.date(2019, 5, 21), Open=39.551998138427734, High=41.47999954223633, Low=39.20800018310547, Close=41.01599884033203, Volume=90019500, Dividends=0, Stock Splits=0.0),
 Row(Date=datetime.date(2019, 5, 22), Open=39.81999969482422, High=40.78799819946289, Low=38.35599899291992, Close=38.54600143432617, Volume=93426000, Dividends=0, Stock Splits=0.0),
 Row(Date=datetime.date(2019, 5, 23), Open=38.86800003051758, High=39.89400100708008, Low=37.24399948120117, Close=39.097999572753906, Volume=132735500, Dividends=0, Stock Splits=0.0)]

### To see any one column data

In [17]:
df_pyspark.show(5)

+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
|      Date|              Open|             High|              Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734|41.47999954223633|39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422|40.78799819946289|38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758|39.89400100708008|37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484|39.99599838256836|            37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|             39.0|37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
only showing top 5 rows

In [27]:
# It will not work like pandas

df_pyspark['Open']

Column<'Open'>

In [28]:
df_pyspark['Open'].show()  # It will not work in pyspark

TypeError: 'Column' object is not callable

In [18]:
df_pyspark.select('Open')  # It show that retrun is dataframe of pyspark

DataFrame[Open: double]

In [20]:
df_pyspark.select('Open').show(6)

+------------------+
|              Open|
+------------------+
|39.551998138427734|
| 39.81999969482422|
| 38.86800003051758|
|39.965999603271484|
|  38.2400016784668|
| 37.41999816894531|
+------------------+
only showing top 6 rows

In [23]:
df_pyspark.select('Volume').show(6)

+---------+
|   Volume|
+---------+
| 90019500|
| 93426000|
|132735500|
| 70683000|
| 51564500|
| 59843000|
+---------+
only showing top 6 rows

In [24]:
df_pyspark.select(['Volume']).show(6)  ## We can pass in list form or without list for single column

+---------+
|   Volume|
+---------+
| 90019500|
| 93426000|
|132735500|
| 70683000|
| 51564500|
| 59843000|
+---------+
only showing top 6 rows

In [26]:
## for Multiple columns pass them in list form

df_pyspark.select(['Open','Volume']).show()

+------------------+---------+
|              Open|   Volume|
+------------------+---------+
|39.551998138427734| 90019500|
| 39.81999969482422| 93426000|
| 38.86800003051758|132735500|
|39.965999603271484| 70683000|
|  38.2400016784668| 51564500|
| 37.41999816894531| 59843000|
|             37.75| 39632500|
| 37.02000045776367| 52033500|
| 37.10200119018555| 65322000|
|36.220001220703125| 69037500|
|39.736000061035156| 67554000|
| 40.88800048828125|101211000|
|              41.0| 80017500|
| 42.04999923706055| 52925000|
|43.827999114990234| 58267500|
| 44.59000015258789| 75987500|
| 42.07600021362305| 40841500|
|             42.25| 37167000|
| 43.09600067138672| 61584000|
| 45.74399948120117| 63579000|
+------------------+---------+
only showing top 20 rows

In [30]:
# to see only data types of the columns

df_pyspark.dtypes

[('Date', 'date'),
 ('Open', 'double'),
 ('High', 'double'),
 ('Low', 'double'),
 ('Close', 'double'),
 ('Volume', 'int'),
 ('Dividends', 'int'),
 ('Stock Splits', 'double')]

In [32]:
# to see describe open pyspark

df_pyspark.describe().show()  # It will show summary of the dataset similar to pandas

+-------+------------------+-----------------+-----------------+------------------+-------------------+---------+--------------------+
|summary|              Open|             High|              Low|             Close|             Volume|Dividends|        Stock Splits|
+-------+------------------+-----------------+-----------------+------------------+-------------------+---------+--------------------+
|  count|               758|              758|              758|               758|                758|      758|                 758|
|   mean|485.87698444275867|497.1353471952252|473.3162246845014|485.53151336005624|4.693252387862797E7|      0.0|0.006596306068601583|
| stddev|353.89717333664964|361.7621027606688|344.5818545767559|353.16035279439683| 3.39384323263938E7|      0.0| 0.18160817807303695|
|    min|36.220001220703125|37.33599853515625|35.39799880981445| 35.79399871826172|            9800600|        0|                 0.0|
|    max|1234.4100341796875|1243.489990234375|           1217.0|1229.9100341796875|          304694000|        0|                 5.0|
+-------+------------------+-----------------+-----------------+------------------+-------------------+---------+--------------------+

### Adding column in pyspark

In [33]:
df_pyspark.withColumn('Date + 2', df_pyspark['Date']+2)

DataFrame[Date: date, Open: double, High: double, Low: double, Close: double, Volume: int, Dividends: int, Stock Splits: double, Date + 2: date]

In [35]:
df_pyspark.withColumn('Date + 2', df_pyspark['Date']+2).show(5) # New column added with date 2 days more at last

+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
|      Date|              Open|             High|              Low|             Close|   Volume|Dividends|Stock Splits|  Date + 2|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
|2019-05-21|39.551998138427734|41.47999954223633|39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|2019-05-23|
|2019-05-22| 39.81999969482422|40.78799819946289|38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|2019-05-24|
|2019-05-23| 38.86800003051758|39.89400100708008|37.24399948120117|39.097999572753906|132735500|        0|         0.0|2019-05-25|
|2019-05-24|39.965999603271484|39.99599838256836|            37.75|38.125999450683594| 70683000|        0|         0.0|2019-05-26|
|2019-05-28|  38.2400016784668|             39.0|37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|2019-05-30|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
only showing top 5 rows

In [36]:
df_pyspark=df_pyspark.withColumn('Date + 2', df_pyspark['Date']+2)

In [37]:
df_pyspark.show(4)

+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
|      Date|              Open|             High|              Low|             Close|   Volume|Dividends|Stock Splits|  Date + 2|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
|2019-05-21|39.551998138427734|41.47999954223633|39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|2019-05-23|
|2019-05-22| 39.81999969482422|40.78799819946289|38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|2019-05-24|
|2019-05-23| 38.86800003051758|39.89400100708008|37.24399948120117|39.097999572753906|132735500|        0|         0.0|2019-05-25|
|2019-05-24|39.965999603271484|39.99599838256836|            37.75|38.125999450683594| 70683000|        0|         0.0|2019-05-26|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+----------+
only showing top 4 rows

### To drop any columns

In [38]:
df_pyspark.drop('Date + 2').show() # Last column is dropped

+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|      Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+----------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows

In [39]:
df_pyspark=df_pyspark.drop('Date + 2')

In [40]:
df_pyspark.show(3)

+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
|      Date|              Open|             High|              Low|             Close|   Volume|Dividends|Stock Splits|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
|2019-05-21|39.551998138427734|41.47999954223633|39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|2019-05-22| 39.81999969482422|40.78799819946289|38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|2019-05-23| 38.86800003051758|39.89400100708008|37.24399948120117|39.097999572753906|132735500|        0|         0.0|
+----------+------------------+-----------------+-----------------+------------------+---------+---------+------------+
only showing top 3 rows

### Rename column

In [41]:
df_pyspark.withColumnRenamed('Date', 'Checking Date').show()

+-------------+------------------+------------------+------------------+------------------+---------+---------+------------+
|Checking Date|              Open|              High|               Low|             Close|   Volume|Dividends|Stock Splits|
+-------------+------------------+------------------+------------------+------------------+---------+---------+------------+
|   2019-05-21|39.551998138427734| 41.47999954223633| 39.20800018310547| 41.01599884033203| 90019500|        0|         0.0|
|   2019-05-22| 39.81999969482422| 40.78799819946289| 38.35599899291992| 38.54600143432617| 93426000|        0|         0.0|
|   2019-05-23| 38.86800003051758| 39.89400100708008| 37.24399948120117|39.097999572753906|132735500|        0|         0.0|
|   2019-05-24|39.965999603271484| 39.99599838256836|             37.75|38.125999450683594| 70683000|        0|         0.0|
|   2019-05-28|  38.2400016784668|              39.0| 37.56999969482422|  37.7400016784668| 51564500|        0|         0.0|
|   2019-05-29| 37.41999816894531| 38.47800064086914|37.007999420166016| 37.97200012207031| 59843000|        0|         0.0|
|   2019-05-30|             37.75| 38.45199966430664| 37.40399932861328| 37.64400100708008| 39632500|        0|         0.0|
|   2019-05-31| 37.02000045776367| 37.98400115966797| 36.81999969482422| 37.03200149536133| 52033500|        0|         0.0|
|   2019-06-03| 37.10200119018555| 37.33599853515625| 35.39799880981445| 35.79399871826172| 65322000|        0|         0.0|
|   2019-06-04|36.220001220703125| 38.79600143432617|35.922000885009766|38.720001220703125| 69037500|        0|         0.0|
|   2019-06-05|39.736000061035156| 40.25600051879883|38.369998931884766| 39.31800079345703| 67554000|        0|         0.0|
|   2019-06-06| 40.88800048828125| 42.20000076293945| 40.36000061035156|41.189998626708984|101211000|        0|         0.0|
|   2019-06-07|              41.0|42.167999267578125| 40.70000076293945|40.900001525878906| 80017500|        0|         0.0|
|   2019-06-10| 42.04999923706055| 43.38800048828125|41.801998138427734| 42.57600021362305| 52925000|        0|         0.0|
|   2019-06-11|43.827999114990234| 44.18000030517578| 42.70000076293945| 43.41999816894531| 58267500|        0|         0.0|
|   2019-06-12| 44.59000015258789| 44.67599868774414| 41.79999923706055| 41.85200119018555| 75987500|        0|         0.0|
|   2019-06-13| 42.07600021362305| 42.97999954223633| 41.50199890136719| 42.78200149536133| 40841500|        0|         0.0|
|   2019-06-14|             42.25| 43.33000183105469| 42.08000183105469| 42.98400115966797| 37167000|        0|         0.0|
|   2019-06-17| 43.09600067138672|45.400001525878906|42.854000091552734| 45.00600051879883| 61584000|        0|         0.0|
|   2019-06-18| 45.74399948120117|46.948001861572266|44.512001037597656|44.948001861572266| 63579000|        0|         0.0|
+-------------+------------------+------------------+------------------+------------------+---------+---------+------------+
only showing top 20 rows