In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Aggregate').getOrCreate()

In [3]:
spark

In [6]:
df_pyspark=spark.read.csv('Employee-deparment.csv',header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### GroupBy

In [9]:
df_pyspark.groupBy('Name')

GroupedData[grouping expressions: [Name], value: [Name: string, Departments: string ... 1 more field], type: GroupBy]

In [10]:
## GroupBy and aggregate works together

df_pyspark.groupBy('Name').sum()  # It is auto check where is interger which can give sum()

DataFrame[Name: string, sum(salary): bigint]

In [11]:
## Grouped to find the maximum salary

df_pyspark.groupBy('Name').sum().show()  # Name wise giving sum of all the interger (salary) of each unique name

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [14]:
df_pyspark.groupBy('Name').sum('salary').show()  # We can give column as well and it will work same way

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [19]:
df_pyspark.groupBy('Name').max('salary').show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [15]:
## Groupby Departments which give maximum salary

df_pyspark.groupBy('Departments').sum('salary').show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [18]:
df_pyspark.groupBy('Departments').max('salary').show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [16]:
## Groupby Departments which give mean salary

df_pyspark.groupBy('Departments').mean('salary').show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [17]:
## Departments wise how many people working

df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [21]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+